[defaults]
inventory = inventory/empty.yml
roles_path = roles
collections_path = ../.ansible/collections
local_tmp = ../.ansible/tmp
host_key_checking = True
retry_files_enabled = False
display_args_to_stdout = False
stdout_callback = default
bin_ansible_callbacks = False
nocows = True
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
